@media (max-width : 400px ){
    * {
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
        background-color: blue;
        border-radius: 10px;
        flex-direction:column;
        justify-content: space-around;
    }

    ul {
        justify-content: space-around;;
        flex-direction:column;
    }

    li {
        background-color:rgb(4, 25, 79);
        list-style: none;
        border-radius:10px;
        display: flex;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
        color: white;
    }

    section {
        display: flex;
        flex-direction:column;

    }

    main {
        background-color: rgb(129, 244, 15);
        border-radius: 10px;
        order: 2;
        text-align: center;
        width: 100%;

    }
    aside {
        background-color: green;
        border-radius: 10px;
        order: 1;
        text-align: center;
        width: 100%;
    }


}
